In [2]:
#Declare a float value and store it in a variable. 
num_f = 10.20




#Check the type and print the id of the same.
print("Float value is ",num_f)
print("Type is ",type(num_f))
print("Id is ",id(num_f))

Float value is  10.2
Type is  <class 'float'>
Id is  1666390192688

In [5]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a1= 10.5; a2=20.2

#Do below operations on them:-
    #Find sum of both numbers
print("Sum is ", a1+a2)

    #Find differce between them
    
print("Difference is ", a1-a2)
    #Find the product of both numbers.

print("Product is ", a1*a2)

    #Find value after dividing first num with second number
print("Division is ", a1/a2)

    #Find the remainder after dividing first number with second number
print("Remainder is ", a1%a2)

    #Find the quotient after dividing first number with second number
print("Quotient is ", a1/a2)

    #Find the result of first num to the power of second number.
print("Exponential form is ", a1**a2)

Sum is  30.7
Difference is  -9.7
Product is  212.1
Division is  0.5198019801980198
Remainder is  10.5
Quotient is  0.5198019801980198
Exponential form is  4.246428746805233e+20

In [6]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'
print("Is",a1,"greater than",a2,":", a1>a2)

        #Smaller than, '<'
print("Is",a1,"smaller than",a2,":", a1<a2)

        #Greater than or equal to, '>='
print("Is",a1,"greater than and equal to",a2,":", a1>=a2)

        #Less than or equal to, '<='
print("Is",a1,"smaller than and equal to",a2,":", a1<=a2)

#Observe their output(return type should be boolean)

Is 10.5 greater than 20.2 : False
Is 10.5 smaller than 20.2 : True
Is 10.5 greater than and equal to 20.2 : False
Is 10.5 smaller than and equal to 20.2 : True

In [7]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)
print("is",a1,"==",a2,":",a1==a2)

print("is",a1,"!=",a2,":",a1!=a2)

#Observe the output(return type should be boolean)

is 10.5 == 20.2 : False
is 10.5 != 20.2 : True

In [8]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [9]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

False
True

In [12]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
print("you create a float value, ask for its id(), and then Python deletes the value again because nothing refers to it. When you create another float value, Python can reuse the same memory position and thus id(a) is likely to return the same value for id(c)")
#Object reusability concept is not applicable on float values.

you create a float value, ask for its id(), and then Python deletes the value again because nothing refers to it. When you create another float value, Python can reuse the same memory position and thus id(a) is likely to return the same value for id(c)

In [11]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True
print('2.7'not in 'Python2.7.8')              #True
print(10.20 not in [10,10.20,10+20j,'Python']) #True
print(10.20 not in (10,10.20,10+20j,'Python')) # True
print(20.30 not in {1,20.30,30+40j})           # True
print(2.3 not in {1:100, 2.3:200, 30+40j:300}) # True
print(10 not in range(20))                     # True

True
True
True
True
True
True
False
False
False
False
False
False