In [ ]:
#Declare a float value and store it in a variable. 
num_f = 10.20




#Check the type and print the id of the same.
print(num_f)
print(type(num_f))
print(id(num_f))

In [1]:
#Declare a float value and store it in a variable. 
num_f = 10.20




#Check the type and print the id of the same.
print(num_f)
print(type(num_f))
print(id(num_f))

10.2
<class 'float'>
1595946706704

In [ ]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Find sum of both numbers

    #Find differce between them
    #Find the product of both numbers.

    #Find value after dividing first num with second number

    #Find the remainder after dividing first number with second number

    #Find the quotient after dividing first number with second number

    #Find the result of first num to the power of second number.

In [3]:
A=10.35
B=12.25
print(A+B)

22.6

In [4]:
A=10.35
B=12.25
print(A-B)

-1.9000000000000004

In [5]:
A=10.35
B=12.25
print(A*B)

126.7875

In [6]:
A=10.35
B=12.25
print(B/A)

1.1835748792270533

In [9]:
A=10.35
B=12.25
print(B%A)

1.9000000000000004

In [8]:
A=10.35
B=12.25
print(B//A)

1.0

In [10]:
A=10.35
B=12.25
print(A**B)

2710311981352.468

In [ ]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

In [11]:

    p = 24.23
    q=10.25

    print(p>q)

True

In [12]:

p = 24.23
q=10.25

print(p<q)

False

In [13]:

p = 24.23
q=10.25

print(p>=q)

True

In [14]:

p = 24.23
q=10.25

print(p<=q)

False

In [ ]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)

In [15]:

p = 24.23
q=10.25

print(p==q)

False

In [16]:

p = 24.23
q=10.25

print(p!=q)

True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

In [23]:
print(10.20 and 20.30)

20.3

In [24]:
print(0.0 and 20.30)

0.0

In [25]:
print(20.30 and 0.0)

0.0

In [26]:
print(0.0 and 0.0)

0.0

In [27]:

print(10.20 or 20.30)       
print(0.0 or 20.30)          
print(20.30 or 0.0)          
print(0.0 or 0.0)          

print(not 10.20)            
print(not 0.0)

10.2
20.3
20.3
0.0
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b - 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

In [17]:
print('2.7' in 'Python2.7.8')

True

In [18]:
print(10.20 in [10,10.20,10+20j,'Python'])

True

In [19]:
print(10.20 in (10,10.20,10+20j,'Python'))

True

In [20]:
print(20.30 in {1,20.30,30+40j})

True

In [21]:
print(2.3 in {1:100, 2.3:200, 30+40j:300})

True

In [22]:
print(10 in range(20))

True